---
- name: Configurazione base di Rocky Linux 9
  hosts: all
  become: true

  tasks:
    - name: Installa dipendenze e Podman
      dnf:
        name:
          - podman
          - podman-docker
        state: present

    - name: Crea rete Podman con IP statico
      containers.podman.podman_network:
        name: mynet
        state: present
        subnet: 10.89.0.0/24
        gateway: 10.89.0.1

    - name: Mostra rete creata
      command: podman network inspect mynet
      register: network_info

    - debug:
        var: network_info.stdout_lines

